@font-face
{
  font-family: 'Giorgio';
  src: url('../../font/Giorgio.ttf');
}


*{
	margin:  0;
	padding: 0;
}


html
{
	--s: 50px;
	--c: #37555b;
	--_s: calc(2*var(--s)) calc(2*var(--s));
	--_g: 35.36% 35.36% at;
	--_c: #0000 66%,#20222a 68% 70%,#0000 72%;
	background: 
	  radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
	  radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
	  radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
	  radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
	  repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
	  radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
	background-attachment: fixed;
}

a{
	text-decoration: none;
}

#title img
{
  display: block;
  width: 200px;
  height: auto;
  margin: 100px auto;
}

.blocco {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #FF6600;
	font-size: 25px;
	background-color: white;
	padding: 40px;	
}

  
h1{
	color:#FF6600;
	margin-top: 0px;
	margin-bottom: 30px;
	font-family: 'Giorgio';
	text-align: center;
}


ul{
	list-style: none;
}

li{
	font-size: 20px;
	margin-top: 5px;
	text-align: center;
	font-family: 'Giorgio';
	margin-left: 5px;
}

  .bottone{
	margin-top: 80px;
	text-align: center;
	text-decoration: none;
	color:#FF6600;

  }


.icon-home{
	color:#FF6600;
	font-size: 70px;
}

 