@font-face
{
  font-family: 'Giorgio';
  src: url('../../font/Giorgio.ttf');
}

*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Giorgio';
  scroll-behavior: smooth;
}

a
{
  text-decoration: none;
  color: white;
}

ul
{
  list-style: none;
}

#select-menu 
{
	position: sticky;
	top: 20px;
	margin: 20px 0 0 20px;
  z-index: 9;
  font-size: 24px;
  padding-inline: 5px;
  width: 30px;
  height: 30px;
}

#select-menu a
{
	color: #FF6600 !important;
}

#hidden-menu
{
  background-color: white;
  color: black;
  position: fixed;
  z-index: 10;
  top: 0;
  height: 100%;
  width: 25%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  border-right: 1px solid black;
}


#hidden-menu:target
{
  visibility: visible;
  opacity: 1;
}

#back-target:target ~ #hidden-menu
{
  visibility: hidden;
  opacity: 0;
}

#hidden-menu ul
{
  margin-top: 60px;
  text-align: center;
}

#hidden-menu li
{
  margin-top: 10px;
}

.title
{
	display: block;
	margin: -30px auto 30px auto;
	width: fit-content;
	text-align: center;
	color: black;
}


#back
{
  position: fixed;
  z-index: 10;
  width: 25%;
  top: 0;
}

#back a
{
  position: relative;
  font-size: 20px;
  width: 20px;
  height: 20px;
  float: right;
  color: #02272f;
  margin-right: 6px;
}

#back-target
{
  position: fixed;
}

#newsletter
{
  color: #FF6600;
}

#homepage
{
	color: black;
}