
.bacheca{
    border: 1px solid black;
    margin-top: 100px;
    height: 250px;
}

.profilo{
    border: 1px solid black;
    height: 80px;
    width: 300px;
    margin: 20px 0 0 20px;
}

.account-type{
    border: 1px solid black;
    height: 30px;
    width: 200px;
    margin: 10px 0 0 20px;
}