.container {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}

body{
    background-color: white;
}

.user-list {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}


.user-list tr {
   background-color: #eaf4fa;
}

.user-list th {
    background-color: #313443;
    color: #fff;
    width: 300px;
}

.user-list th, .user-list td {
    padding: 10px;
    text-align: center;
    border-bottom: 4px solid white;
}


.user-list img {
    position: relative;
	float: left;
	margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 30%;
}
.user-link {
	display: block;
	font-size: 1.25em;
	padding-top: 3px;
    color: #313443;
    text-decoration: none;
}

.user-list .user-link:hover {
    text-decoration: underline;
}
.user-type {
	font-style: italic;
}

.positiveStatus{
    color: green;
}

.negativeStatus{
    color: red;
}

.ricarica-bozza button{
    background-color: #313443;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 3px;
}

.ricarica-bozza button:hover{
    background-color: white;
    color: #313443;
}