*{
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

.comment-form button{
    width: 15%;
    margin-left: 10px;
}

button {
    background-color: rgb(141, 141, 153);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.discussion-container {
    width: 800px;
    margin-bottom: 70px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.discussion-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.discussion-info {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}


.datetime {
    font-style: italic;
}

.discussion-text {
    margin-top: 20px;
    color: #333;
    border-bottom: 1px dashed black;
    padding: 15px 0;
}

.comment-container {
    margin-top: 20px;
}

.comment {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.comment-author {
    font-weight: bold;
    color: #555;
}

.comment-text {
    margin-top: 10px;
    color: #333;
    height: fit-content;    
}


.comment-form input {
    width: 80%;
    height: 30px;
}


.comment-info {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.comment-datetime {
    font-style: italic;
}


.rating {
    display: flex;
    flex-direction: row-reverse;
}

.rating input {
    display: none
}

.rating label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating label:hover:before,
.rating label:hover~label:before {
    opacity: 1 !important
}

.rating input:checked~label:before {
    opacity: 1
}

.rating:hover input:checked~label:before {
    opacity: 0.4
}

.rating-submit{
	border-radius: 15px;
	color: #fff;
    height: 49px;
}


.rating-submit:hover{
	color: #fff;
}

.rr{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.type-rating{
    margin-right: 20px;
    padding: 12px;
}

#utility{
    border: none;
    border-bottom: 1px solid black;
}

.flexbox-comment{
    display: flexbox;
}

.comment-box{
    flex-basis: 50%;
}

.form-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.valuta{
    width: 100px;
    height: fit-content;
}

.segnala{
    width: 80px;
    height: fit-content;
    margin-inline: 15px;
}

.form-segnalazione{
    display: flex;
    justify-content: center;
}

.form-segnalazione select{
    text-align: center;
}

.content {
    position: relative;
    top: 100px;
}

.commenti-span{
    display: flex;
    justify-content: center;
}

