*{
	margin: 0;
	box-sizing: border-box;
}
.step{
	display: flex;
	justify-content: center;
	margin-top: 100px; 
	margin-bottom: -50px;
}

.step-container{
	border: 1px solid black;
	width: 700px;
	height: 500px;
}

.step-content{
	height: 450px;
	border: 1px solid black;
}

.step-img{
	border: 1px solid black;
	height: 300px;
}

.descrizione{
	border: 1px solid black;
	height: 150px;
}

.move-button{
	height: 50px;
	border: 1px solid black;
	width: 200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.right{
	width: 98px;
	border: 1px solid black;
	font-size: 20px;
	letter-spacing: 2px;
	padding: 0 !important;
}

.left{
	width: 98px;
	border: 1px solid black;
	font-size: 20px;
	letter-spacing: 2px;
	padding: 0 !important;
}

.fase{
	border: 1px solid black;
	height: 30px;
}

.testo{
	border: 1px solid black;
	height: 120px;
}




