*{
	margin: 0;
	box-sizing: border-box;
}
.step{
	display: flex;
	justify-content: center;
	margin-top: 100px; 
	margin-bottom: -50px;
}

.step-container{
    box-shadow: 0 3rem 3rem -2rem hsl(200 50% 20% / 40%);
	width: 700px;
	height: 500px;
	border-radius: 10px;
}

.step-content{
	height: 450px;
}

.step-img{
	height: 300px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.descrizione{
	height: 150px;
}

.move-button{
	height: 50px;
	border-radius: 15px;
	width: 200px;
	margin: 0 auto;
	display: flex;
	background-color: #443ea2;
	justify-content: space-between;
}

.right{
	width: 98px;
	border: none;
	font-size: 20px;
	padding: 0 !important;
	color: white;
	background-color: transparent !important;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.left{
	width: 98px;
	border: none;
	font-size: 20px;
	padding: 0 !important;
	color: white;
	background-color: transparent !important;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.l, .r{
	transition: 0.3s;
}

.l:hover{
  	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.r:hover{
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.6);
}

.fase{
	height: 30px;
	text-align: center;
	padding: 5px;
}

.testo{
	height: 120px;
	padding: 5px;
}




