*{
	margin: 0;
	box-sizing: border-box;
}
.step{
	display: flex;
	justify-content: space-evenly;
	margin-top: 100px; 
	margin-bottom: -50px;
}

.step-container{
    box-shadow: 0 3rem 3rem -2rem hsl(200 50% 20% / 40%);
	width: 700px;
	height: 500px;
	border-radius: 10px;
	background-color: white;
}

.step-content{
	height: 450px;
}

.step-img{
	height: 300px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.descrizione{
	height: 150px;
}

.move-button{
	height: 50px;
	border-radius: 15px;
	width: 200px;
	margin: 0 auto;
	display: flex;
	background-color: #443ea2;
	justify-content: space-between;
}

.right{
	width: 98px;
	border: none;
	font-size: 20px;
	padding: 0 !important;
	color: white;
	background-color: transparent !important;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.left{
	width: 98px;
	border: none;
	font-size: 20px;
	padding: 0 !important;
	color: white;
	background-color: transparent !important;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.l, .r{
	transition: 0.3s;
}

.l:hover{
  	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.r:hover{
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.6);
}

.fase{
	height: 30px;
	text-align: center;
	padding: 5px;
}

.testo{
	height: 120px;
	padding: 5px;
}

.options {
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 0 3rem 3rem -2rem hsl(200 50% 20% / 40%);
	background-color: white;
	border-radius: 10px;  
}

.form-segnalazione-progetto{
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.form-segnalazione-progetto button{
	width: fit-content;
	position: relative;
	margin: auto auto;
}

.form-segnalazione-progetto textarea{
	height: 30px;
	width: 180px;
}

.form-valutazione-progetto {
	border: 1px solid black;
}

.p-rating{
	display: flex; 
	justify-content: space-around;
	text-align: center; 
}

.p-rating textarea{
	height: 30px;
	position: relative;
	margin: auto auto;
}

.p-rating button{
	width: fit-content; 
	position: relative;
	margin: auto auto;
}

.form-aprire-discussione{
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.form-aprire-discussione *{
	position: relative;
	margin: auto auto; 
}

.form-aprire-discussione textarea{
	height: 30px;
}

.options-title{
	display: flex;
	justify-content: center;
}

#select{
	height: fit-content;
	position: relative;
	margin: auto auto;
}

.label-form{
	position: relative;
	left: 5px;
	bottom: 10px;
}


