.lista {
    max-width:max-content;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  .evento {
    padding: 16px;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
  }

  .data {
    font-size: 12px;
    color: #999;
    margin-left: 100px;
  }

  li{
    list-style-type: none;
  }
 



