@font-face
{
	font-family: 'Social';
	src: url('../../font/Social.otf');
}

.footer
{
	height: 400px;
	background-color: #313332;
	color: white;
	margin: 0;
	text-align: center;
	display: grid;
	grid-template-columns: 50% 25% 25%;
	padding: 20px;
}

.footer p
{
	margin-top: 20px;
}

.grid-item
{	
	font-size: 13px;
	margin-top: 40px;
}

#grid-item-1 a
{
	color: #FF6600;
}

#grid-item-2 li
{
	padding: 8px;
}

#grid-item-3 li
{
	padding: 8px;
}

.social
{
	font-family: 'Social';
	font-size: 25px;
	transition-property: font-size;
	transition-duration: 0.2s;
}

.payment
{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
}

/*ANIMAZIONE*/

.social-transition:hover
{
	font-size: 35px;
}



