.box
{
  width: 1000px;
  margin: 0 auto;
}

.row
{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  height: 250px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px 1px black;
}

.car
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.car-name
{
  margin-top: 10px;
  width: 300px;
  position: absolute;
  text-align: center;
  font-weight: bold;
}

.car-name span
{
  position: relative;
  left: -5px;
}

.left-column
{
  border-right: 10px solid #37555b;
}

.container
{
  margin-left: 20px;
}

.flexbox
{
  display: flex;
}

.flexbox img
{
  width: 18px;
}

.features
{
  margin-top: 10px;
  margin-right: 30px;
}

.features li
{
  font-size: 18px;
  margin-top: 5px;
}

.dettagli
{
  margin-top: 30px;
  font-size: 14px;
}

.recensioni
{
  margin-top: 20px;
  font-size: 16px;
}

.recensioni:hover
{
  text-decoration: underline;
}

.prezzo
{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

#g-text
{
  font-size: 24px;
  font-weight: normal;
}

.noleggio-button
{
  display: block;
  width: 200px;
  height: 40px;
  margin: 50px auto;
  background-color: #FF6600;
  border: none;
  color: white;
  border-radius: 18px;
  font-size: 20px;
  transition: box-shadow 0.2s ease;
}

.noleggio-button:hover
{
  box-shadow: 0px 0px 10px 0px black;
}
