@font-face
{
  font-family: 'Giorgio';
  src: url('../../font/Giorgio.ttf');
}

*
{
  font-family: 'Giorgio';
}

.row
{
  width: 1000px;
  display: grid;
  grid-template-columns: 30% 70%;
  height: 400px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px 1px black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.car
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car-name
{
  text-align: center;
}

.column
{
  border-right: 1px solid black;
}


.flexbox
{
  display: flex;
  justify-content: space-evenly;
}

.flex-item
{
  margin-top: 50px;
}

.flex-item input
{
  width: 150px;
  height: 30px;
}

.btn
{
  width: fit-content;
  position: relative;
  margin: 0 auto;
  top: 200px;
}

