@font-face
{
  font-family: 'Giorgio';
  src: url('../../font/Giorgio.ttf');
}

*
{
  font-family: 'Giorgio';
}

form
{
    margin-top: 20px;
}

.row
{
  width: 1000px;
  display: grid;
  grid-template-columns: 30% 70%;
  height: 400px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px 1px black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.left-column
{
  border-right: 10px solid #37555b;
}

.bar
{
  position: absolute;
  background-color: #37555b;
  width: 700px;
  height: 42px;
}

.car
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.car-name
{
  text-align: center;
  background-color: #37555b;
  padding: 10px;
  color: white;
}

.flexbox
{
  display: flex;
  justify-content: space-evenly;
}

.flex-item
{
  margin-top: 50px;
}

.flex-item input
{
  width: 150px;
  height: 30px;
}

.btn
{
  width: fit-content;
  position: relative;
  margin: 0 auto;
  top: 160px;
}

.btn button
{
  background-color: #FF6600;
  width: 200px;
  height: 40px;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 20px;
}

.error-container
{
  position: absolute;
  width: 700px;
  text-align: center;
  margin-top: 50px;
  color: red;
}

