.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.form-input,
.form-button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #4A90E2;
    outline: none;
}

.form-label {
    margin-top: 10px;
    display: block;
    color: #333333;
    font-size: 16px;
}

.form-button {
    background-color: #4A90E2;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #357ABD;
}

#error
{
	position: relative;
	color: red;
	text-align: center;
    font-size: 20px;
}
#success
{
	position: relative;
	color: green;
	text-align: center;
    font-size: 20px;
}
