*{
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
    box-sizing: border-box;
    margin: 0;
}

.homepage{
    display: flex;
    min-height: 100vh;
    /*altezza minima il 100% del viewport (della pagina)*/
}

.homepage-sidebar{ 
    color: white;
    width: 238px;
    position: fixed;
    left: 0; 
    top: 0; 
    bottom: 0; 
    overflow: auto; 
    background-color: #313443; 
}

.intestazione{ 
    height: 84px;
    padding: 8px 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-sidebar-list{
    display: flex;
    flex-direction: column;
}

.elem{
    height: 56px;
    padding: 8px 20px 8px 70px;
    display: flex;
    align-items: center;
    letter-spacing: 0.7px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.bar{
    background-image: url('../../img/img-bar.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    right: 0;
    top: 0;
    height: 300px;
}

.toolbar{
    min-height: 50px;
    background-color: #313443;
    display: flex;
    align-items: center;
    padding: 8px 27px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    left: 238px; /*mi sposta l'inizio del div*/
}

.divisore{
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.dashboard{
    margin-left: 238px;
    width: 100%;
}

.button{
    background-color: rgb(141, 141, 153);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}

.searchbar{
    display: flex;
    width: fit-content;
}

.searchbar *{
    margin-inline: 10px;
}

.searchbar input{
    border-radius: 15px;
    border: none;
}  

.searchbar::before{
    content: "\1F50E";
}

.login{
  position: absolute;
  right: 30px;
}

.login a{
    color: white;
    text-decoration: none;
}


